@font-face {
  font-family: roboto;
  src:
    url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
  font-weight: 600;
  font-style: bold;
}

html {
  box-sizing: border-box;
  font-family: roboto, serif;
  color: rgb(202, 202, 202);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h3 {
  color: rgb(228, 163, 163);
}

label {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(202, 202, 202);
}

a {
  color: rgb(202, 202, 202);
}

select,
button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-out;
  border: 1px solid rgb(190, 190, 190);

  &:hover {
    background-color: rgb(190, 190, 190);
  }
}
