# Rename example.env to .env to use this file. This file will be ignored in git and is only for local use.
DESKTOP_NOTIFICATIONS=false
ERRORS_IN_BROWSER_OVERLAY=true
OPEN_BROWSER=false
PROXY=''
DEBUG_MODE=false
